body {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0;
	font-size: 10px;
	color: #666;
	font-family: 'Source Code Pro', monospace;
	background-color: black;	
}

.title span {
	display: block;
	font-size: 20px;
	color: white;
	text-align: center;
	margin: 10px 0;
}

.background {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-image: url(../img/milky-way.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	overflow: scroll;
}
.width-display {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top:20px;
	left: 20px;
	padding: 0px 10px;
	background: rgba(0,0,0,0.85);
	color: #666;
	border: solid 1px #2d2d2d;
	border-radius: 4px;
	margin: 0 auto;
	z-index: 1;
}
.display {
	display: inline-block;
}
.transition {
	transition: .3s;
}
.container {
	display: flex;
	justify-content: space-around;
	height: 100%;
	overflow: hidden;
	transition: 1s;
}
.container p {
	position: absolute;
	top: 100px;
	justify-content: center;
	align-items: center;
	padding: 0px 10px;
	background: rgba(0,0,0,0.65);
	color: #94e7ea;
	border: solid 1px #2d2d2d;
	border-radius: 4px;
	margin: 0;
}
.item {
	display: flex;
	position: relative;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: auto;
	border-left: 1px;
	border-right: 1px;
	border-top: 0;
	border-bottom: 0;
	border-color: #161616;
	border-style: solid;
	/*background: skyblue;*/
}
.sun {
	width: 261px;
	height: 261px;
	/*background: red;*/
	background-image: url(../img/sun.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	text-align: center;
	/*margin: 3.3%;*/
}
.mercury {
	width: 1px;
	height: 1px;
	/*background: green;*/
	background-image: url(../img/mercury.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
	/*margin: 3.3%;*/
}
.venus {
	width: 3px;
	height: 3px;
	/*background: blue;*/
	background-image: url(../img/venus.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
	/*margin: 3.3%;*/
}
.earth {
	width: 3px;
	height: 3px;
	/*background: pink;*/
	background-image: url(../img/eath.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
	/*margin: 3.3%;*/
}
.mars {
	width: 2px;
	height: 2px;
	/*background: orange;*/
	background-image: url(../img/marte.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
	/*margin: 3.3%;*/
}
.jupiter {
	width: 48px;
	height: 48px;
	/*background: skyblue;*/
	background-image: url(../img/jupiter.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
	/*margin: 3.3%;*/
}
.saturn {
	width: 39px;
	height: 39px;
	/*background: yellow;*/
	background-image: url(../img/saturno.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
	/*margin: 3.3%;*/
}
.uranus {
	width: 13px;
	height: 13px;
	/*background: brown;*/
	background-image: url(../img/urano.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
	/*margin: 3.3%;*/
}
.neptune {
	width: 12px;
	height: 12px;
	/*background: purple;*/
	background-image: url(../img/neptuno.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
	/*margin: 3.3%;*/
}
.pluton {
	width: 1px;
	height: 1px;
	/*background: white;*/
	background-image: url(../img/pluton.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
	/*margin: 3.3%;*/
}

@media screen and (max-width: 1400px) {
	.container {
	width: 160%;
	}
	.sun {
	width: 429px;
	height: 429px;
	}
	.mercury {
	width: 2px;
	height: 2px;
	}
	.venus {
	width: 4px;
	height: 4px;
	}
	.earth {
	width: 5px;
	height: 5px;
	}
	.mars {
	width: 4px;
	height: 4px;
	}
	.jupiter {
	width: 79px;
	height: 79px;
	}
	.saturn {
	width: 64px;
	height: 64px;
	}
	.uranus {
	width: 21px;
	height: 21px;
	}
	.neptune {
	width: 19px;
	height: 19px;
	}
	.pluton {
	width: 2px;
	height: 2px;
	}
}


@media screen and (max-width: 1300px) {
	.container {
	width: 256%;
	}
	.sun {
	width: 690px;
	height: 690px;
	}
	.mercury {
	width: 3px;
	height: 3px;
	}
	.venus {
	width: 7px;
	height: 7px;
	}
	.earth {
	width: 8px;
	height: 8px;
	}
	.mars {
	width: 6px;
	height: 6px;
	}
	.jupiter {
	width: 126px;
	height: 126px;
	}
	.saturn {
	width: 103px;
	height: 103px;
	}
	.uranus {
	width: 34px;
	height: 34px;
	}
	.neptune {
	width: 31px;
	height: 31px;
	}
	.pluton {
	width: 3px;
	height: 3px;
	}
}

@media screen and (max-width: 1200px) {
	.container {
	width: 410%;
	}
	.sun {
	width: 1111px;
	height: 1111px;
	}
	.mercury {
	width: 6px;
	height: 6px;
	}
	.venus {
	width: 11px;
	height: 11px;
	}
	.earth {
	width: 13px;
	height: 13px;
	}
	.mars {
	width: 9px;
	height: 9px;
	}
	.jupiter {
	width: 204px;
	height: 205px;
	}
	.saturn {
	width: 167px;
	height: 167px;
	}
	.uranus {
	width: 56px;
	height: 56px;
	}
	.neptune {
	width: 50px;
	height: 50px;
	}
	.pluton {
	width: 6px;
	height: 6px;
	}
}

@media screen and (max-width: 1100px) {
	.container {
	width: 655%;
	}
	.sun {
	width: 1788px;
	height: 1788px;
	}
	.mercury {
	width: 9px;
	height: 9px;
	}
	.venus {
	width: 18px;
	height: 18px;
	}
	.earth {
	width: 21px;
	height: 21px;
	}
	.mars {
	width: 15px;
	height: 15px;
	}
	.jupiter {
	width: 328px;
	height: 328px;
	}
	.saturn {
	width: 268px;
	height: 268px;
	}
	.uranus {
	width: 89px;
	height: 89px;
	}
	.neptune {
	width: 80px;
	height: 80px;
	}
	.pluton {
	width: 9px;
	height: 9px;
	}
}

@media screen and (max-width: 1000px) {
	.container {
	width: 1049%;
	}
	.sun {
	width: 2879px;
	height: 2879px;
	}
	.mercury {
	width: 14px;
	height: 14px;
	}
	.venus {
	width: 29px;
	height: 29px;
	}
	.earth {
	width: 34px;
	height: 34px;
	}
	.mars {
	width: 24px;
	height: 24px;
	}
	.jupiter {
	width: 528px;
	height: 528px;
	}
	.saturn {
	width: 432px;
	height: 432px;
	}
	.uranus {
	width: 144px;
	height: 144px;
	}
	.neptune {
	width: 130px;
	height: 130px;
	}
	.pluton {
	width: 14px;
	height: 14px;
	}
}

@media screen and (max-width: 900px) {
	.container {
	width: 1678%;
	}
	.sun {
	width: 4636px;
	height: 4636px;
	}
	.mercury {
	width: 23px;
	height: 23px;
	}
	.venus {
	width: 46px;
	height: 46px;
	}
	.earth {
	width: 55px;
	height: 55px;
	}
	.mars {
	width: 39px;
	height: 39px;
	}
	.jupiter {
	width: 850px;
	height: 850px;
	}
	.saturn {
	width: 695px;
	height: 695px;
	}
	.uranus {
	width: 232px;
	height: 232px;
	}
	.neptune {
	width: 209px;
	height: 209px;
	}
	.pluton {
	width: 23px;
	height: 23px;
	}
}


@media screen and (max-width: 800px) {
	.container {
	width: 2684%;
	}
	.sun {
	width: 7464px;
	height: 7464px;
	}
	.mercury {
	width: 37px;
	height: 37px;
	}
	.venus {
	width: 75px;
	height: 75px;
	}
	.earth {
	width: 89px;
	height: 89px;
	}
	.mars {
	width: 62px;
	height: 62px;
	}
	.jupiter {
	width: 1368px;
	height: 1368px;
	}
	.saturn {
	width: 1120px;
	height: 1120px;
	}
	.uranus {
	width: 373px;
	height: 373px;
	}
	.neptune {
	width: 334px;
	height: 334px;
	}
	.pluton {
	width: 37px;
	height: 37px;
	}
}

@media screen and (max-width: 700px) {
	.container {
	width: 4295%;
	}
	.sun {
	width: 7464px;
	height: 100%;
	}
	.mercury {
	width: 37px;
	height: 100%;
	}
	.venus {
	width: 75px;
	height: 100%;
	}
	.earth {
	width: 144px;
	height: 144px;
	}
	.mars {
	width: 62px;
	height: 100%;
	}
	.jupiter {
	width: 1368px;
	height: 100%;
	}
	.saturn {
	width: 1120px;
	height: 100%;
	}
	.uranus {
	width: 373px;
	height: 100%;
	}
	.neptune {
	width: 334px;
	height: 100%;
	}
	.pluton {
	width: 37px;
	height: 100%;
	}
	
}

@media screen and (max-width: 600px) {
	.container {
	width: 1500%;
	}
	.sun {
	width: 2879px;
	height: 2879px;
	}
	.mercury {
	width: 14px;
	height: 14px;
	}
	.venus {
	width: 29px;
	height: 29px;
	}
	.earth {
	width: 233px;
	height: 233px;
	}
	.mars {
	width: 24px;
	height: 24px;
	}
	.jupiter {
	width: 528px;
	height: 528px;
	}
	.saturn {
	width: 432px;
	height: 432px;
	}
	.uranus {
	width: 144px;
	height: 144px;
	}
	.neptune {
	width: 130px;
	height: 130px;
	}
	.pluton {
	width: 14px;
	height: 14px;
	}
}

@media screen and (max-width: 500px) {
	.container {
	width: 1500%;
	}
	.sun {
	width: 2879px;
	height: 2879px;
	}
	.mercury {
	width: 14px;
	height: 14px;
	}
	.venus {
	width: 29px;
	height: 29px;
	}
	.earth {
	width: 377px;
	height: 377px;
	}
	.mars {
	width: 24px;
	height: 24px;
	}
	.jupiter {
	width: 528px;
	height: 528px;
	}
	.saturn {
	width: 432px;
	height: 432px;
	}
	.uranus {
	width: 144px;
	height: 144px;
	}
	.neptune {
	width: 130px;
	height: 130px;
	}
	.pluton {
	width: 14px;
	height: 14px;
	}
}


@media screen and (max-width: 400px) {

	
}