body {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0;
	font-size: 10px;
	color: #666;
	font-family: 'Source Code Pro', monospace;
	background-color: black;
	overflow: hidden;
}
.background {
	display: flex;
	align-items: center;
	flex-flow: column;
	width: 100vw;
	height: 100vh;
	background-image: url(../img/milky-way.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	overflow: hidden;
}
.line-h {
	position: absolute;
	border-left: solid 1px rgba(255,0,0,0.4);
	height: 100%;
	left: 50%;
}
.line-w {
	position: absolute;
	border-top: solid 1px rgba(255,0,0,0.4);
	width: 100%;
	top: 50%;
}
.width-display {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top:20px;
	left: 20px;
	padding: 0px 10px;
	background: rgba(0,0,0,0.65);
	color: #666;
	border: solid 1px #2d2d2d;
	border-radius: 4px;
	margin: 0 auto;
	font-size: 10px;
	z-index: 1;
}
.display {
	display: inline-block;
}
.transition {
	transition: 5s;
}
.container {
	display: flex;
	justify-content: space-around;
	height: 100%;
	width: 100%;
	transition: 1s;
	overflow: hidden;
	padding: 0 18px;
}
.p-name {
	position: absolute;
	top: 100px;
	justify-content: center;
	align-items: center;
	padding: 0px 10px;
	background: rgba(0,0,0,0.65);
	color: #94e7ea;
	border: solid 1px #2d2d2d;
	border-radius: 4px;
	margin: 0;
	visibility: visible;
	z-index: 6;
}
.none {
	visibility: hidden;
}
.none-info {
	visibility: hidden;
}
.item {
	display: flex;
	position: relative;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: auto;
	/*background: skyblue;*/
}
.guia {
	position: absolute;
	border-left: solid 1px rgba(0,89,86,.6);
	left: 50%;
	height: 100%;
	z-index: 0;
}
.sun {
	position: relative;
	width: 261px;
	height: 261px;
	background: red;
	background-image: url(../img/sun_.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0px 0px 30px 7px rgba(255,0,0,0.55);
}
.mercury {
	position: relative;
	width: 1px;
	height: 1px;
	/*background: green;*/
	background-image: url(../img/mercury.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
}
.venus {
	position: relative;
	width: 4px;
	height: 4px;
	/*background: blue;*/
	background-image: url(../img/venus.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
}
.earth {
	position: relative;
	width: 5px;
	height: 5px;
	/*background: pink;*/
	background-image: url(../img/eath.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
}
.mars {
	position: relative;
	width: 3px;
	height: 3px;
	/*background: orange;*/
	background-image: url(../img/marte.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
}
.jupiter {
	position: relative;
	width: 48px;
	height: 48px;
	/*background: skyblue;*/
	background-image: url(../img/jupiter.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
}
.saturn {
	position: relative;
	width: 39px;
	height: 39px;
	/*background: yellow;*/
	background-image: url(../img/saturno.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
}
.uranus {
	position: relative;
	width: 13px;
	height: 13px;
	/*background: brown;*/
	background-image: url(../img/urano.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
}
.neptune {
	position: relative;
	width: 12px;
	height: 12px;
	/*background: purple;*/
	background-image: url(../img/neptuno.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
}
.info-item {
	position: absolute;
	left: 20px;
	bottom: 50px;
	text-align: left;
	max-width: 600px;
	padding: 10px 10px;
	background: rgba(0,0,0,0.65);
	color: #666;
	border: solid 1px #2d2d2d;
	border-radius: 5px;
	margin: 0 auto;
	z-index: 2;
	animation: .3s info forwards;
	animation-timing-function: ease-out;
}
.info-item p {
	color: #bbb;
	line-height: 100%;
	margin: 6px;
}
.info-item span {
	color: #888;
}
.info-item-planet {
	position: absolute;
	left: 0;
	right: 0;
	top: calc(50% + 130px);
	text-align: left;
	max-width: 300px;
	padding: 10px 10px;
	background: rgba(0,0,0,0.65);
	color: #666;
	border: solid 1px #2d2d2d;
	border-radius: 5px;
	margin: 0 auto;
	z-index: 7;
	animation: .3s info forwards;
	animation-timing-function: ease-out;
}
.info-item-planet p {
	color: #bbb;
	line-height: 100%;
	margin: 6px;
}
.info-item-planet span {
	color: #888;
}
.menu {
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	height: 40px;
	bottom: -41px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #eee;
	padding: 0 18px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background: rgba(0,0,0,0.65);
	border: solid 1px #2d2d2d;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	transition: .3s;
}
.pestana {
	text-align: center;
	cursor: pointer;
	position: absolute;
	width: 150px;
	height: 20px;
	background: rgba(0,0,0,0.65);
	border: solid 1px #2d2d2d;
	border-bottom: 0;
	top: -22px;
	left: calc(50% - 75px);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	transition: .3s;
}
.pestana:before {
	font-size: 20px;
	content:"\02c6";
	line-height: 1.8;
}
.pestana:hover {
	border: solid 1px #666;
	border-bottom: 0;
}
label {
	margin-left: 5px;
	margin-right: 15px;
}
.menu li {
	display: inline-block;
}
.menu ul {
	padding: 5px;
}
.active {
	bottom: 0;
}
#info-su, #info-me, #info-ve, #info-ea, #info-ma, #info-ju, #info-sa, #info-ur, #info-ne {
	display: none;
}
@media screen and (max-width: 1400px) { /*se reduce al 80% el contenedor para juntar los planetas. Sol crece. Planetas primeros crecen. Planetas ültimos decrecen.*/
	.container {
	width: 80%;
	}
	.sun {
	width: 429px !important;
	height: 429px;
	margin: 0 auto;
	}
	.mercury {
	width: 4px !important;
	height: 4px;
	margin: 0 auto;
	}
	.venus {
	width: 3px !important;
	height: 3px;
	margin: 0 auto;
	}
	.earth {
	width: 3px !important;
	height: 3px;
	margin: 0 auto;
	}
	.mars {
	width: 2px !important;
	height: 2px;
	margin: 0 auto;
	}
	.jupiter {
	width: 50px !important;
	height: 50px;
	margin: 0 auto;
	}
	.saturn {
	width: 34px !important;
	height: 34px;
	margin: 0 auto;
	}
	.uranus {
	width: 9px !important;
	height: 9px;
	margin: 0 auto;
	}
	.neptune {
	width: 8px !important;
	height: 18px;
	margin: 0 auto;
	}
}
@media screen and (max-width: 1300px) { /*se reduce  al 65% el contenedor para seguir juntando los planetas. Sol crece. Planetas primeros crecen. Planetas ültimos decrecen.*/
	.container {
	width: 65%;
	}
	.sun {
	width: 550px !important;
	height: 550px;
	}
	.mercury {
	width: 8px !important;
	height: 8px;
	}
	.venus {
	width: 5px !important;
	height: 5px;
	}
	.earth {
	width: 4px !important;
	height: 4px;
	}
	.mars {
	width: 3px !important;
	height: 3px;
	}
	.jupiter {
	width: 9px !important;
	height: 9px;
	}
	.saturn {
	width: 6px !important;
	height: 6px;
	}
	.uranus {
	width: 3px !important;
	height: 3px;
	}
	.neptune {
	width: 2px !important;
	height: 2px;
	}
}
/*	-	-	-	-	-	desaparicion de planetas uno a uno comenzando por mercurio: -	-	-	-	-	-	-	-	-	*/
@media screen and (max-width: 1219px) { /* media-querie para desaparecer mercurio*/
	.item:nth-child(2) { /*desaparece mercurio*/
	display: none;
	}
}
@media screen and (max-width: 1217px) { /* media-querie para desaparecer venus*/
	.item:nth-child(3) { /*desaparece venus*/
	display: none;
	}
}
@media screen and (max-width: 1215px) {
	.item:nth-child(4) {
	display: none;
	}
}
@media screen and (max-width: 1213px) {
	.item:nth-child(4) {
	display: none;
	}
}
@media screen and (max-width: 1211px) {
	.item:nth-child(5) {
	display: none;
	}
}
@media screen and (max-width: 1209px) {
	.item:nth-child(6) {
	display: none;
	}
}
@media screen and (max-width: 1207px) {
	.item:nth-child(7) {
	display: none;
	}
}
@media screen and (max-width: 1205px) {
	.item:nth-child(8) {
	display: none;
	}
}
@media screen and (max-width: 1203px) {
	.item:nth-child(9) {
	display: none;
	}
}
/*	-	-	-	-	-	Comienza vista elemento uno a uno   -	-	-	-	-	-	-	-*/
/* vista sol */
@media screen and (max-width: 1201px) { /*redimencion de contenedor, reseteado de tamaño de planetas en preparacion de transformacion y aumento de sol*/
	.container { /*aumenta tamaño de contenedor para mostrar a gran tamaño el elemento*/
	width: 100%;
	}
	.mercury {
	width: 0px !important; /*se resetea tamaño de planetas para su futura aparición*/
	height: 0px;
	}
	.venus {
	width: 0px !important;
	height: 0px;
	}
	.earth {
	width: 0px !important;
	height: 0px;
	}
	.mars {
	width: 0px !important;
	height: 0px;
	}
	.jupiter {
	width: 0px !important;
	height: 0px;
	}
	.saturn {
	width: 0px !important;
	height: 0px;
	}
	.uranus {
	width: 0px !important;
	height: 0px;
	}
	.neptune {
	width: 0px !important;
	height: 0px;
	}
@media screen and (max-width: 1200px) { /*se muestra sol mientras crece*/
	.sun {
		width: 650px !important;
		height: 650px;
	}
	#info-ss { /*desaparece info de sistema solar*/
		display: none; 
	}
	#info-su { /*aparece info de sol*/
		display: block;
	}
}
@media screen and (max-width: 1150px) { /*sol aumenta tamaño y desaparece en preparacion de mercurio*/
	.sun {
		animation: 1s crecedesaparece;
		animation-fill-mode: forwards;
	}
	#info-su { /*desaparece info de sol*/
		display: none;
	}
}
@media screen and (max-width: 1101px) { /*se vuelve a mostrar mercurio con las últimas medidas heredadas, desaparece sol*/
	.item:nth-child(1) { /*desaparece elemento sol*/
	display: none;
	}
	.item:nth-child(2) { /*aparece elemento mercurio*/
	display: flex;
	}
}
@media screen and (max-width: 1100px) { /*transformacion aumento mercurio*/
	.mercury { /*al aparecer mercurio nuevamente comienza a crecer*/
	width: 650px !important;
	height: 650px;
	animation: 1s crece;
	animation-fill-mode: forwards;
	}
	#info-me { /*aparece info de mercurio*/
		display: block;
	}
}
@media screen and (max-width: 1050px) { /*mercurio aumenta su tamaño y desaparece en preparación de venus*/
	.mercury {
		animation: 1s crecedesaparece;
		animation-fill-mode: forwards;
	}
	#info-me { /*desaparece info de mercurio*/
		display: none;
	}
}
@media screen and (max-width: 1001px) { /*se vuelve a mostrar venus con las últimas medidas heredadas, desaparece mercurio*/
	.item:nth-child(2) { /*desaparece elemento mercurio*/
	display: none;
	}
	.item:nth-child(3) { /*aparece elemento venus*/
	display: flex;
	}
}
@media screen and (max-width: 1000px) { /*transformacion aumento venus*/
	.venus { /*al aparecer venus nuevamente comienza a crecer*/
	width: 650px !important;
	height: 650px;
	animation: 1s crece;
	animation-fill-mode: forwards;
	}
	#info-ve { /*aparece info de venus*/
		display: block;
	}
}
@media screen and (max-width: 950px) { /*venus aumenta su tamaño y desaparece en preparación de tierra*/
	.venus {
		animation: 1s crecedesaparece;
		animation-fill-mode: forwards;
	}
	#info-ve { /*desaparece info de venus*/
		display: none;
	}
}
@media screen and (max-width: 901px) { /*se vuelve a mostrar tierra con las últimas medidas heredadas, desaparece venus*/
	.item:nth-child(3) { /*desaparece elemento venus*/
	display: none;
	}
	.item:nth-child(4) { /*aparece elemento tierra*/
	display: flex;
	}
}
@media screen and (max-width: 900px) { /*transformacion aumento tierra*/
	.earth { /*al aparecer tierra nuevamente comienza a crecer*/
	width: 650px !important;
	height: 650px;
	animation: 1s crece;
	animation-fill-mode: forwards;
	}
	#info-ea { /*aparece info de tierra*/
		display: block;
	}
}
@media screen and (max-width: 850px) { /*tierra aumenta su tamaño y desaparece en preparación de marte*/
	.earth {
		animation: 1s crecedesaparece;
		animation-fill-mode: forwards;
	}
	#info-ea { /*desaparece info de tierra*/
		display: none;
	}
}
@media screen and (max-width: 801px) { /*se vuelve a mostrar marte con las últimas medidas heredadas, desaparece tierra*/
	.item:nth-child(4) { /*desaparece elemento tierra*/
	display: none;
	}
	.item:nth-child(5) { /*aparece elemento marte*/
	display: flex;
	}
}
@media screen and (max-width: 800px) { /*transformacion aumento marte*/
	.mars { /*al aparecer marte nuevamente comienza a crecer*/
	width: 550px !important;
	height: 550px;
	animation: 1s crece;
	animation-fill-mode: forwards;
	}
	#info-ma { /*aparece info de marte*/
		display: block;
	}
}
@media screen and (max-width: 750px) { /*marte aumenta su tamaño y desaparece en preparación de jupiter*/
	.mars {
		animation: 1s crecedesaparece;
		animation-fill-mode: forwards;
	}
	#info-ma { /*desaparece info de marte*/
		display: none;
	}
}
@media screen and (max-width: 701px) { /*se vuelve a mostrar jupiter con las últimas medidas heredadas, desaparece marte*/
	.item:nth-child(5) { /*desaparece elemento marte*/
	display: none;
	}
	.item:nth-child(6) { /*aparece elemento jupiter*/
	display: flex;
	}
}
@media screen and (max-width: 700px) { /*transformacion aumento jupiter*/
	.jupiter { /*al aparecer jupiter nuevamente comienza a crecer*/
	width: 550px !important;
	height: 550px;
	animation: 1s crece;
	animation-fill-mode: forwards;
	}
	#info-ju { /*aparece info de jupiter*/
		display: block;
	}
}
@media screen and (max-width: 650px) { /*jupiter aumenta su tamaño y desaparece en preparación de saturno*/
	.jupiter {
		animation: 1s crecedesaparece;
		animation-fill-mode: forwards;
	}
	#info-ju { /*desaparece info de jupiter*/
		display: none;
	}
}
@media screen and (max-width: 601px) { /*se vuelve a mostrar saturno con las últimas medidas heredadas, desaparece jupiter*/
	.item:nth-child(6) { /*desaparece elemento jupiter*/
	display: none;
	}
	.item:nth-child(7) { /*aparece elemento saturno*/
	display: flex;
	}
}
@media screen and (max-width: 600px) { /*transformacion aumento saturno*/
	.saturn { /*al aparecer saturno nuevamente comienza a crecer*/
	width: 450px !important;
	height: 450px;
	animation: 1s crece;
	animation-fill-mode: forwards;
	}
	#info-sa { /*aparece info de saturno*/
		display: block;
	}
}
@media screen and (max-width: 550px) { /*saturno aumenta su tamaño y desaparece en preparación de urano*/
	.saturn {
		animation: 1s crecedesaparece;
		animation-fill-mode: forwards;
	}
	#info-sa { /*desaparece info de saturno*/
		display: none;
	}
}
@media screen and (max-width: 501px) { /*se vuelve a mostrar urano con las últimas medidas heredadas, desaparece saturno*/
	.item:nth-child(7) { /*desaparece elemento saturno*/
	display: none;
	}
	.item:nth-child(8) { /*aparece elemento urano*/
	display: flex;
	}
}
@media screen and (max-width: 500px) { /*transformacion aumento urano*/
	.uranus { /*al aparecer urano nuevamente comienza a crecer*/
	width: 450px !important;
	height: 450px;
	animation: 1s crece;
	animation-fill-mode: forwards;
	}
	#info-ur { /*aparece info de urano*/
		display: block;
	}
	.non {
		display: none;
	}
}
@media screen and (max-width: 450px) { /*urano aumenta su tamaño y desaparece en preparación de neptuno*/
	.uranus {
		animation: 1s crecedesaparece;
		animation-fill-mode: forwards;
	}
	#info-ur { /*desaparece info de urano*/
		display: none;
	}
}
@media screen and (max-width: 401px) { /*se vuelve a mostrar neptuno con las últimas medidas heredadas, desaparece urano*/
	.item:nth-child(8) { /*desaparece elemento urano*/
	display: none;
	}
	.item:nth-child(9) { /*aparece elemento neptuno*/
	display: flex;
	}
}
@media screen and (max-width: 400px) { /*transformacion aumento neptuno*/
	.neptune { /*al aparecer urano nuevamente comienza a crecer*/
	width: 350px !important;
	height: 350px;
	animation: 1s crece;
	animation-fill-mode: forwards;
	}
	#info-ne { /*aparece info de neptuno*/
		display: block;
	}
}
/*	-	-	-	-	-	-	-	-	-	-	sección de animaciones	-	-	-	-	-	-	-	-	-	*/
@keyframes crecedesaparece {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(10);
		opacity: 0;
	}
}
@keyframes aparece {
	0% {
		transform: scale(0);
		opacity: .7;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes info {
	0% {transform: scaleY(0.1); opacity: 0;}
	40% {transform: scaleY(1.02);}
	60% {transform: scaleY(0.98);}
	80% {transform: scaleY(1.01);}
	100% {transform: scaleY(0.98);}
	80% {transform: scaleY(1.01);}
	100% {transform: scaleY(1); opacity: 1;}
}